

@media ( max-width:600px){

body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
 height: 120px;
background-color: rgb(77, 76, 76);
color: white;
font-size: 1.6em;
font-weight: 500;
display: flex;
flex-wrap: wrap;

}

header div span{
    font-size: .9em;
}
header .head1{
   padding-left: 25px;
   padding-right: 150px;
   padding-top: 5px;
   font-size: 1.3em;
}
header .head2{
padding-top: 5px;

}
.clear1{
    height: 40px;
     background-color: rgb(248, 191, 191);
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    padding-left: 30px;
    padding-top: 10px;

}

header .inp{

width: 350px;
height: 30px;
margin-left: 20px;
font-size: .9em;
padding-left: 20px;
border-radius: 15px;
}
.paart{

    margin-left: 30px;
    font-size: 1em;
    
}
.part1{
margin-left: 100px;
font-size: 1.2em;
}

.part2{
    
    font-size: 1.2em;
    margin-left: 30px;
 
    }
    .section{
        position: relative;
        margin-top:50px;
        width: 410px;
        height:320px;
        border:.2px  solid  black;
        border-right-color: transparent;
        margin-top: 10px;
    }
.section img{

    width: 200px;
    height: 300px;
    border: .3px solid  transparent;
    border-right-color: black;
}

.section1{
    position: absolute;
    top:50px;
    left: 250px;
    font-size: 1.6em;
}
.section2 {
   position: absolute;
    top:130px;
    left: 250px;
    font-size: 1.6em;
}


.select{
    position: relative;
    margin-top:50px;
    width: 410px;
    height:320px;
    border:.2px  solid  black;
    border-right-color: transparent;
    margin-top: 10px;

}
.select img{

width: 200px;
height: 300px;
border: .3px solid transparent;
border-right-color: black ;
}
.section3{
position: absolute;
top:50px;
left: 250px;
font-size: 1.6em;
}
.section4{
position: absolute;
top:130px;
left: 250px;
font-size: 1.6em;
}











}